<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @profile.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @profile.lastname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>


<p>
  <strong>Userimage:</strong>
  <%#<%= image_tag @profile.image_url(:thumb) if @profile.userimage? %>
  <%= image_tag @profile.userimage %>
</p>

<!--<p>
  <strong>User:</strong>
  <%#<%= @profile.user_id %>
</p>-->

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
